.login {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.form-group > label {
  margin-bottom: 10px;
}


.login{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://img.freepik.com/premium-photo/keyboard-coffee-smartphone-notebook-color-background-top-view_1286-776.jpg")}